<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Simple Sidebar - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <script src="http://code.jquery.com/jquery-1.7.js"></script>
    </head>

    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">Start Bootstrap</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'dashboard' %}">뭐마실래?</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'type16' %}">술BTI 알아보기</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'sns' %}">SNS</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="https://sulfun.typeform.com/to/YyKXpblX">술BTI 검사</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="https://sulfun.com/">술FUN Hompage</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'isjn' %}">만든이</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#!">Action</a>
                                        <a class="dropdown-item" href="#!">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#!">Something else here</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    <h1 class="mt-4">SULBTI with 퍼스널컬러</h1>
                    <p>친구와 뭐 마실까 고민된다면 퍼술널컬러!</p>
                    <table>
                        <tr>
                            <th>나</th>
                            <th>너</th>
                            <th> </th>
                            <th>우리</th>
                        </tr>
                        <tr>
                            <td rowspan="3">{{my}}</br><img src="static/img/{{my}}.png" width="100" height="100"></br><a href="{{my}}">자세히 알아보기</a></td>
                            <td>{{you1}}</br><img src="static/img/{{you1}}.png" width="100" height="100"></br><a href="{{you1}}">자세히 알아보기</a></td>
                            <td rowspan="4"><img src="static/img/sum.png" height="100"></td>
                            <td rowspan="3">{{we}}</br><img src="static/img/{{we}}.png" width="100" height="100"></br><a href="{{we}}">자세히 알아보기</a></td>
                        </tr>
                        <tr>
                            <td>{{you2}}</br><img src="static/img/{{you2}}.png" width="100" height="100"></br><a href="{{you2}}">자세히 알아보기</a></td>
                        </tr>
                        <tr>
                            <td>{{you3}}</br><img src="static/img/{{you3}}.png" width="100" height="100"></br><a href="{{you3}}">자세히 알아보기</a></td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
